body {
    margin: 0;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 2px solid rgba(80, 80, 80, 0.15);
;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.player {
    display: flex;
    gap: 8px;
    padding: 10px 20px;
    align-items: center;
}

.player:last-of-type {
    flex-direction: row-reverse;
}

.player:last-of-type > .player_name {
    flex-direction: row-reverse;
}


.player_img {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(80, 80, 80, 0.15);
}

.player_name {
    display: flex;
    justify-content: flex-start;
    width: 250px;
    height: 18px;
    border-radius: 8px;
    background-color: rgba(80, 80, 80, 0.15);
}

.active {
    background-color: transparent;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.cell {
    display: flex;
    flex-grow: 0;
    width: 75px;
    height: 75px;
}

.odd {
    background-color: rgba(80, 80, 80, 0.15);
}

.new_player {
    display: flex;
    position: absolute;
    padding: 15px;
    border-radius: 8px;
    top: 50%;
    right: 50%;
    background-color: #FFF;
    border: 1px solid gray;
}

.hide {
    display: none;
}