* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 2px solid rgba(80, 80, 80, 0.15);
}

.odd {
    background-color: rgba(80, 80, 80, 0.5);
}

.even {
    background-color: rgba(80, 80, 80, 0.15);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.player {
    display: flex;
    gap: 8px;
    padding: 10px 20px;
    align-items: center;
}

.player:last-of-type {
    flex-direction: row-reverse;
}

.player:last-of-type > .player_name {
    flex-direction: row-reverse;
}

.player_img {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgba(80, 80, 80, 0.15);
}

.play_button {
    border: none;
    background-color: rgba(80, 80, 80, 0.15);
    border-radius: 8px;
    padding: 6px 16px;
    cursor: pointer;
    transition: all 0.3s;
}

.play_button:hover {
    background-color: rgba(80, 80, 80, 0.3);
}

.active {
    background-color: transparent;
}

.game {
    display: flex;
    flex-direction: column;
}

.board {
    display: flex;
}

.field {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.reversed {
    transform: rotate(180deg);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    width: 75px;
    height: 75px;
}

.possible {
    box-shadow: inset 0 0 20px #5EC75E;
}

.rows {
    display: flex;
    flex-direction: column;
}

.alphabet {
    display: flex;
    background-color: rgba(80, 80, 80, 0.15);
}

.char {
    display: flex;
    justify-content: center;
    width: 75px;
}

.row-number {
    display: flex;
    align-items: center;
    padding: 6px;
    height: 75px;
    background-color: rgba(80, 80, 80, 0.15);
}

.target {
    transition: all 0.3s;
    box-shadow: inset 0 0 20px #f8a100;
}

.black {
    background-color: #282828;
}

.white {
    background-color: #FFFFFF;
}

.piece {
    display: flex;
    width: 60px;
    height: 60px;
    mask-size: cover;
    cursor: grab;
    border-bottom: 3px solid #282828;
}

.pawn {
    -webkit-mask-image: url("./assets/pawn.svg");
    mask-image: url("./assets/pawn.svg");
}

.rook {
    -webkit-mask-image: url("./assets/rook.svg");
    mask-image: url("./assets/rook.svg");
}

.knight {
    -webkit-mask-image: url("./assets/knight.svg");
    mask-image: url("./assets/knight.svg");
}

.bishop {
    -webkit-mask-image: url("./assets/bishop.svg");
    mask-image: url("./assets/bishop.svg");
}

.queen {
    -webkit-mask-image: url("./assets/queen.svg");
    mask-image: url("./assets/queen.svg");
}

.king {
    -webkit-mask-image: url("./assets/king.svg");
    mask-image: url("./assets/king.svg");
}

.new_player {
    display: flex;
    position: absolute;
    padding: 15px;
    border-radius: 8px;
    top: 50%;
    right: 50%;
    background-color: #FFF;
    border: 1px solid gray;
}

.hide {
    display: none;
}

.moves {
    display: flex;
    flex-wrap: wrap;
    width: 315px;
    background-color: rgba(80, 80, 80, 0.05);
}

.move {
    display: flex;
    justify-content: flex-start;
    width: 150px;
    padding: 6px 8px;
}

.move_counter {
    display: flex;
    width: 15px;
    justify-content: center;
    align-items: center;
}
